<form class="w-75 m-auto mt-4 mb-4 py-3 px-3 rounded-3 shadow-sm row justify-content-center row-gap-3">
    <div class="col-11">
        <input type="text" placeholder="nombre" class="form-control">
    </div>
    <div class="col-11">
        <input type="number" placeholder="edad" class="form-control">
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-secondary">Añadir</button>
    </div>
</form>

<div class="row justify-content-around gap-3">
    <div class="col-4 rounded-3 shadow-sm py-4 px-3">
        <p class="mb-2">nombre</p>
        <p class="small mb-4 text-muted fw-bold"></p>
        <p class="mb-2">edad</p>
        <p class="small text-muted fw-bold"></p>
    </div>
</div>
